.input {
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: var(--very-light-grayish-blue);
}

.input input {
  border: none;
  line-height: 1.2rem;
  background-color: transparent;
  color: var(--very-dark-grayish-blue)
}
