.todo-list-container {
  position: relative;
}

.todo-list {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);

  background-color: var(--primary);
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  border-radius: 0.8rem;
  overflow: hidden;
}
