.todo-item {
  padding: 1.2rem;
  color: var(--very-dark-grayish-blue);
  border-bottom: 1px solid var(--dark-grayish-blue);
}

.todo-item-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.6rem;
}

.icon-container {
  border-radius: 50%;
  border: 1px solid var(--dark-grayish-blue);
  width: 20px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.completed .icon-container {
  border-color: transparent;
  background: linear-gradient(150deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.icon-container img {
  width: 50%;
}

.todo-item-container p {
  flex: 1;
  color: var(--very-dark-grayish-blue);
  margin: 0;
}

.todo-item-container button {
  border: none;
  background: transparent;
}
