main {
  height: 100%;
  background-color: var(--very-light-gray);
}

.banner {
  background-image: var(--bg-image-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 18rem;
}

.relative-body {
  position: relative;
}

.body {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

@media (min-width: 40rem) {
  .banner {
    background-image: var(--bg-image-desktop);
  }

  .body {
    max-width: 500px;
  }
}
