:root {
  /* Light Theme colors */
  --l-very-light-gray: hsl(0, 0%, 98%);
  --l-very-light-grayish-blue: hsl(236, 33%, 92%);
  --l-light-grayish-blue: hsl(233, 11%, 84%);
  --l-dark-grayish-blue: hsl(236, 9%, 61%);
  --l-very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme colors */
  --d-very-dark-blue: hsl(235, 21%, 11%);
  --d-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --d-light-grayish-blue: hsl(234, 39%, 85%);
  --d-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --d-dark-grayish-blue: hsl(234, 11%, 52%);
  --d-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --d-very-dark-grayish-blue-2: hsl(237, 14%, 26%);
}

[data-theme="light"] {
  --very-light-gray: var(--l-very-light-gray);
  --very-light-grayish-blue: var(--l-very-light-grayish-blue);
  --light-grayish-blue: var(--l-light-grayish-blue);
  --dark-grayish-blue: var(--l-dark-grayish-blue);
  --very-dark-grayish-blue: var(--l-very-dark-grayish-blue);
}

[data-theme="dark"] {
  --very-light-gray: var(--d-very-dark-blue);
  --very-light-grayish-blue: var(--d-very-dark-desaturated-blue);
  --light-grayish-blue: var(--d-light-grayish-blue);
  --dark-grayish-blue: var(--d-dark-grayish-blue);
  --very-dark-grayish-blue: var(--d-very-dark-grayish-blue);
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}
